{% extends "base.html" %}
{% block content %}
<h2>ログイン</h2>
<form method="post">
  <div class="row">
    <div>
      <div class="muted">Username</div>
      <input name="username" required>
    </div>
    <div>
      <div class="muted">Password</div>
      <input name="password" type="password" required>
    </div>
  </div>

  <button class="btn" type="submit">Login</button>
</form>

<div style="margin-top:14px; text-align:center;">
  <span class="muted">アカウントをお持ちでない場合：</span>
  <a href="{{ url_for('register') }}">新規登録</a>
</div>
{% endblock %}
