{% extends "base.html" %}
{% block content %}
<h2>新規登録</h2>

<form method="post">
  <div class="row">
    <div>
      <div class="muted">Username</div>
      <input name="username" required>
    </div>
    <div>
      <div class="muted">Password</div>
      <input name="password" type="password" required>
    </div>
  </div>

  <button class="btn" type="submit">Register</button>
</form>

<div style="margin-top:14px; text-align:center;">
  <a href="{{ url_for('login') }}">ログインに戻る</a>
</div>
{% endblock %}
